@media screen and (max-width:600px) {
    .container {
        width: 90%
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    nav {
        flex-direction: column;
        width: 90%
    }

    .menu-container {
        display: none
    }

    .logo {
        width: 100%;

    }

    .responsive {

        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    .logo-main h1 {
        font-size: 22px;
    }

    .logo-main img {
        width: 40px
    }

    .burger {
        display: inline-block;

    }


    /* banner */

    .banner-container {
        padding: 20px 0;
    }

    .banner-text {
        margin-bottom: 20px;
    }

    .banner-text h1 {
        font-size: 22px;
    }

    .banner-text p {
        font-size: 14px;
        width: 100%;
    }

    .button-container {
        width: 90%;
        flex-direction: column;
        justify-content: center;
    }

    .button-container button {
        width: 100%;
    }

    /* popular tours */

    .popular {
        flex-direction: column;
    }


    /* destination */

    .destination-text p {
        width: 100%;
    }


    .grp1,
    .grp2,
    .grp3 {
        flex-direction: column;
    }

    .img-container img {
        height: 176px
    }


    /* why choose us */

    .choose-text p {
        width: 100%;
    }

    .service1,
    .service2 {
        flex-direction: column;

    }

    .service-items {
        width: 100%;
    }


    /* deal and discounts */

    .deals p {
        width: 100%;
    }


    .deals1,
    .deals3 {

        justify-content: center;
        align-items: flex-end;
        padding: 20px;
        /* padding: 110px 0 50px; */
    }

    .deals-text1,
    .deals-text2,
    .deals-text3 {
        padding: 10px;
        width: 350px;
        height: 350px;
    }

    .deals-details {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
    }

    .deals-text1 *,
    .deals-text2 *,
    .deals-text3 * {
        margin-bottom: 8px;
    }

    .deals-text1 h4,
    .deals-text2 h4,
    .deals-text3 h4 {
        font-size: 20px;
    }

    .deals-text1 h5,
    .deals-text2 h5,
    .deals-text3 h5 {
        font-size: 17px;
    }

    .deals-text1 p,
    .deals-text2 p,
    .deals-text3 p {
        font-size: 14px;

    }

    .deals-text1 h5,
    .deals-text2 h5,
    .deals-text3 h5 {
        margin-bottom: 10px;
    }

    .deals2 {
        justify-content: center;
        align-items: flex-end;
        padding: 20px;
    }

    /*  simple perfect section */

    .simple {
        flex-direction: column;
    }

    .simple-text {
        width: 100%;
    }

    .video-box {
        width: 100%;
    }

    .video-box iframe {
        width: 100%;
    }


    /* sponsor */

    .sponsor .logo {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
    }

    .sponsor .icons {
        width: 80px;
    }




}


@media screen and (min-width:601px) and (max-width:992px) {


    .container {
        width: 90%;
    }

    .menu-container .menu {
        gap: 20px;
    }



    /* banner */
    .button-container {
        width: 100%
    }

    .banner-text p {
        width: 100%;
    }

    /* popular tours */

    .popular {
        flex-direction: column;
    }

    .popular-img {
        width: 100%
    }

    /* destination */

    .destination-text p {
        width: 100%;
    }

    /* why choose us  */

    .choose-text p {
        width: 100%;
    }

    .service1 {
        flex-direction: column;

    }

    .service2 {
        flex-direction: column;
    }

    .service-items {
        width: 100%;
        text-align: center;
    }

    /* deals & discount */

    .deals p {
        width: 100%;
    }



    /* simple perfect section */

    .simple {
        flex-direction: column;
    }



    .video-box iframe {
        width: 700px;

    }


    /* sponsor */

    .sponsor .logo {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
    }

    .sponsor .icons {
        width: 80px;
    }









}